<div *ngIf="product.title" class="card">
  <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" />
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">
      {{ product.price | currency: 'NZD':'symbol' }}
    </p>
  </div>
  <div *ngIf="showActions" class="card-footer">
    <ng-container *ngIf="cart$ | async as cart">
      <button
        *ngIf="cart.totalItemCount === 0; else updateQuantity"
        (click)="addToCart(product)"
        class="btn btn-secondary btn-block"
      >
        Add to cart {{ cart.totalItemCount }}
      </button>
      <ng-template #updateQuantity>
        <div class="row no-gutters">
          <div class="col-2">
            <button
              (click)="removeFromCart(product)"
              class="btn btn-secondary btn-block"
            >
              -
            </button>
          </div>
          <div class="col text-center">{{ cart.totalItemCount }} in cart</div>
          <div class="col-2">
            <button
              (click)="addToCart(product)"
              class="btn btn-secondary btn-block"
            >
              +
            </button>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>
