<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a
        class="list-group-item list-group-item-action"
        routerLink="/"
        [class.active]="!category"
        >All Categories</a
      >
      <a
        *ngFor="let cat of categories$ | async"
        [class.active]="category === cat.key"
        class="list-group-item list-group-item-action"
        routerLink="/"
        [queryParams]="{ category: cat.key }"
      >
        {{ cat.name }}
      </a>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div *ngFor="let product of filteredProduct" class="col-md-6">
        <div class="card" style="width: 15rem;">
          <img [src]="product.imageUrl" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">
              {{ product.price | currency: 'NZD':'symbol' }}
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
